{% extends "starter.html" %}
{% load i18n static poll_extras %}

{% block title %}{% trans "Edit Professional Experience" %}{% endblock %}

{% block extrastyle %}
<link type="text/css" rel="stylesheet" href="{% static 'css/profile/edit.css' %}">
<link type="text/css" rel="stylesheet" href="{% static 'plugins/bootstrap-toggle/css/bootstrap-toggle.css' %}">
{% endblock %}

{% block extrajs %}
<script type="text/javascript" src="{% static 'js/profile/edit.js' %}"></script>
<script type="text/javascript" src="{% static 'plugins/bootstrap-toggle/js/bootstrap-toggle.js' %}"></script>
<script type="text/javascript"></script>
{% endblock %}

{% block content %}
    {% include "cv/tabs.html" %}

    <form role="form" method="post" action="{% url 'cv:Edit XP' %}">
        {% csrf_token %}
        <div class="card-body">
            <div class="row">
                {{ xp_form.management_form }}
                {% for sub_form in xp_form reversed %}
                    <div class="col-xl-6">
                        <div class="card card-outline card-danger">
                            <div class="card-tools">
                                {% comment %} <button type="button" class="btn btn-tool btn-primary btn-sm" data-card-widget="collapse">
                                    <i class="fas fa-minus"></i>
                                </button> {% endcomment %}
                                {% comment %} {{ sub_form.company_name.id_for_label }} {% endcomment %}
                                {% if forloop.counter0 != 0 %}
                                    <button name="#id_xp_set-{{ forloop.revcounter0 }}-DELETE" type="submit" class="btn btn-danger btn-close">
                                        <i class="centralize fas fa-times" style="font-size:25px"></i>
                                    </button>
                                {% else %}
                                    <div style="padding-top:42px" ></div>
                                {% endif %}
                                {% comment %} <div class="card-header">
                                    <h3 class="card-title">Collapsible Card Example</h3>
                                </div> {% endcomment %}
                            </div>
                            <div class="card-body">
                                <div class="form-group">
                                    <div class="mb-3"></div>
                                    {{ sub_form }}
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        {% comment %} <button type="submit" name="save" class="float">
            <div class="float-save success-color text-light">
                <i class="fas fa-save centralize"></i>
            </div>
        </button> {% endcomment %}
    </form>
    {% comment %} <form role="form" method="get" action="{% url 'cv:Edit XP' %}">
        <button class="float" formmethod="get" type="submit" name="new" value="{{ extra }}">
            <div class="float-add purple-gradient text-light">
                <i class="fas fa-plus centralize"></i>
            </div>
        </button>
    </form> {% endcomment %}
    <div class="mb-5"></div>
{% endblock %}