{% extends "starter.html" %}
{% load i18n static poll_extras %}

{% block title %}{% trans "Edit Professional Experience" %}{% endblock %}

{% block extrastyle %}
<link type="text/css" rel="stylesheet" href="{% static 'css/profile/edit.css' %}">
<link type="text/css" rel="stylesheet" href="{% static 'plugins/bootstrap-toggle/css/bootstrap-toggle.css' %}">
{% endblock %}

{% block extrajs %}
<script type="text/javascript" src="{% static 'js/profile/edit.js' %}"></script>
<script type="text/javascript" src="{% static 'plugins/bootstrap-toggle/js/bootstrap-toggle.js' %}"></script>
{% endblock %}

{% block content %}
    {% include "cv/buttons.html" %}

    <form class="cv_edit" role="form" method="post" action="{% url 'cv:Edit XP' %}">
        {% csrf_token %}
        <div class="card-body">
            <div class="row">
                {{ xp.management_form }}
                {% for form in xp reversed %}
                    <div class="col-xl-6">
                        <div class="card card-outline card-danger">
                            <div class="card-tools">
                                {% comment %} <button type="button" class="btn btn-tool btn-primary btn-sm" data-card-widget="collapse">
                                    <i class="fas fa-minus"></i>
                                </button> {% endcomment %}
                                {% comment %} {{ form.company_name.id_for_label }} {% endcomment %}
                                <button name="#id_xp_set-{{ forloop.counter0 }}-DELETE" type="submit" class="float-right btn btn-danger btn-close">
                                    <i class="centralize fas fa-times" style="font-size:25px"></i>
                                </button>
                                {% comment %} <div class="card-header">
                                    <h3 class="card-title">Collapsible Card Example</h3>
                                </div> {% endcomment %}
                            </div>
                            <div class="card-body">
                                <div class="form-group">
                                    {{ form }}
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <button type="submit" name="save" class="float">
            <div class="float-save success-color text-light">
                <i class="fas fa-save centralize"></i>
            </div>
        </button>
    </form>
    <form role="form" method="get" action="{% url 'cv:Edit XP' %}">
        <button class="float" formmethod="get" type="submit" name="new" value="{{ extra }}">
            <div class="float-add purple-gradient text-light">
                <i class="fas fa-plus centralize"></i>
            </div>
        </button>
        {% comment %} <div class="row">
            <div class="col-xl-4"></div>
            <div class="col-xl-4">
                <button autofocus class="centralize btn-circle btn btn-lg card-outline card-danger waves-effect" formmethod="get" type="submit" name="new" value="{{ extra }}">
                        <i class="fas fa-plus centralize text-light" style="font-size:60px;"></i>
                </button>
            </div>
        </div> {% endcomment %}
    </form>
    <div class="pb-5"></div>
    <div class="pb-3"></div>
{% endblock %}