{% extends "starter.html" %}
{% load i18n static %}

{% block title %}{% trans "Edit Education" %}{% endblock %}

{% block extrastyle %}
<link type="text/css" rel="stylesheet" href="{% static 'css/profile/edit.css' %}">
{% endblock %}

{% block extrajs %}
<script type="text/javascript" src="{% static 'js/profile/edit.js' %}"></script>
<script type="text/javascript" charset="utf-8">
    $('input,textarea,select').filter('[required]').prev().append("*");
</script>
{% endblock %}

{% block content %}
    {% include "cv/buttons.html" %}

    <form class="cv_edit" role="form" method="post" action="{% url 'cv:Edit Education' %}">
        {% csrf_token %}
            <div class="card-body">

                <div class="row">
                    {{ education.management_form }}
                    {% for form in education reversed %}
                        <div class="col-xl-6">
                            <div class="card card-outline card-success">
                                <div class="card-tools">
                                    <button type="button" class="btn btin-tool btn-primary btn-sm" data-card-widget="collapse">
                                        <i class="fas fa-minus"></i>
                                    </button>
                                    <button name="#id_education_set-{{ forloop.counter0 }}-DELETE" type="submit" class="float-right btn btn-danger btn-close">
                                        <i class="centralize fas fa-times" style="font-size:25px"></i>
                                    </button>
                                </div>
                                <div class="card-body">
                                    <div class="form-group">
                                        {{ form }}
                                        <div class="row">
                                            <div class="col-xl-6">
                                                <button type="button" class="w-100 btn grey"> Dates
                                                </button>
                                            </div>
                                            <div class="col-xl-6">
                                                <button type="button" class="w-100 btn grey"> Duration
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <button type="submit" name="save" class="float">
            <div class="float-save success-color text-light">
                <i class="fas fa-save centralize"></i>
            </div>
        </button>
    </form>
    <form class="cv" role="form" method="get" action="{% url 'cv:Edit Education' %}">
        <button class="float" formmethod="get" type="submit" name="new" value="{{ extra }}">
            <div class="float-add purple-gradient text-light">
                <i class="fas fa-plus centralize"></i>
            </div>
        </button>
        {% comment %} <div class="row">
            <div class="col-xl-4"></div>
            <div class="col-xl-4">
                <button autofocus class="centralize btn-circle btn btn-lg card-outline card-success waves-effect" formmethod="get" type="submit" name="new" value="{{ extra }}">
                        <i class="fas fa-plus centralize text-light" style="font-size:60px;"></i>
                </button>
            </div>
        </div> {% endcomment %}
    </form>
    <div class="pb-5"></div>
    <div class="pb-3"></div>
{% endblock %}