{% extends "starter.html" %}
{% load i18n static %}

{% block title %}{% trans "Edit Education" %}{% endblock %}

{% block extrastyle %}
<link type="text/css" rel="stylesheet" href="{% static 'css/profile/edit.css' %}">
{% endblock %}

{% block extrajs %}
<script type="text/javascript" src="{% static 'js/profile/edit.js' %}"></script>
{% endblock %}

{% block content %}
    {% include "cv/buttons.html" %}

    <form class="cv" role="form" method="post" action="{% url 'cv:Edit Education' %}">
        {% csrf_token %}
        <div class="card card-primary">
            <div class="card-header elegant-color-dark" style="height: 70px; font-size:50px">
                <h1 style="font-size:35px;" class="centralize card-title"><b>{% trans "Education" %}</b></h1>
            </div>
            <div class="card-body">

                <div class="row">
                    {{ education.management_form }}
                    {% for field in education %}
                    <div class="col-xl-4">
                        <div class="pt-2"></div>
                        <div class="card blue-gradient">
                            <div class="card-body">
                                <div class="form-group">
                                    {{ field.label_tag }}
                                    {{ field }}
                                    {% if field.errors %}
                                    <div class="alert alert-danger red" style="font-size:13px;">
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                                                aria-hidden="true">&times;</span></button>
                                        {{ field.errors|striptags }}<br>
                                    </div>
                                    {% endif %}
                                    {% if field.help_text %}
                                    <p class="help">{{ field.help_text|safe }}</p>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="pb-2"></div>
                    </div>
                    {% endfor %}
                </div>

                <div class="pb-3"></div>

            </div>
        </div>
        <button onclick="clean_phone();" type="submit" name="save" class="float">
            <div class="float-save success-color text-light">
                <i class="fas fa-save centralize"></i>
            </div>
        </button>
    </form>
    <form class="cv" role="form" method="get" action="{% url 'cv:Edit Education' %}">
        <div class="row">
            <div class="col-xl-4"></div>
            <div class="col-xl-4">
                <button autofocus class="centralize btn-circle btn btn-lg blue-gradient waves-effect" formmethod="get" type="submit" name="new" value="{{ extra }}">
                        <i class="fas fa-plus centralize text-light" style="font-size:60px;"></i>
                </button>
            </div>
        </div>
    </form>
    <div class="pb-5"></div>
    <div class="pb-3"></div>
{% endblock %}