{% extends "index.html" %}
{% load i18n static poll_extras %}

{% block title %}{% trans "Edit Profile" %}{% endblock %}

{% block extrastyle %}
  <link type="text/css" rel="stylesheet" href="{% static 'plugins/select2-4.0.13/dist/css/select2.css' %}">
  <link type="text/css" rel="stylesheet" href="{% static 'css/profile/edit.css' %}">
{% endblock %}

{% block extrajs %}
  <script type="text/javascript" src="{% static 'plugins/select2-4.0.13/dist/js/select2.full.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/profile/edit.js' %}"></script>
  <script type="text/javascript">
    $(document).ready(function(){
      $('.select2').select2({}).on("change", function(e){
          $.each($(this).val(), function(i, selected) {
              $('.select2-selection__choice').addClass("btn-dark");
          });
      });
    });
  </script>

{% endblock %}

{% block content %}
  {% include "cv/tabs.html" %}
  <form role="form" method="post" action="{% url 'cv:Edit Profile' %}">
    {% csrf_token %}
    <div class="card-body">
      <div class="row">
        <div class="col-xl-4">
          <div class="card card-outline card-primary">
            <div class="card-body">
              {{ user_form.as_p }}
              {% for field in profile_form.visible_fields|slice:":5" %}
                <div class="form-group" id="editor">
                    {{ field.label_tag }}
                    {{ field }}
                    {% if field.errors %}
                      <div class="alert alert-danger red"  style="font-size:13px;">
                          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                          {{ field.errors|striptags }}<br>
                      </div>
                    {% endif %}
                    {% if field.help_text %}
                      <p class="help">{{ field.help_text|safe }}</p>
                    {% endif %}
                </div>
              {% endfor %}
              {{ languages_form.management_form }}
              {{ languages_form }}
            </div>
          </div>
        </div>
        <div class="col-xl-4">
          <div class="card card-outline card-primary">
            <div class="card-body">
              {% for field in profile_form.visible_fields|slice:"5:6" %}
                <div class="form-group" id="editor">
                    {{ field.label_tag }}
                    {{ field }}
                    {% if field.errors %}
                      <div class="alert alert-danger red"  style="font-size:13px;">
                          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                          {{ field.errors|striptags }}<br>
                      </div>
                    {% endif %}
                    {% if field.help_text %}
                      <p class="help">{{ field.help_text|safe }}</p>
                    {% endif %}
                </div>
              {% endfor %}
            </div>
          </div>
        </div>
        <div class="col-xl-4">
          <div class="card card-outline card-primary">
            <div class="card-body">
              {% for field in profile_form.visible_fields|slice:"6:" %}
                <div class="form-group">
                    {{ field.label_tag }} 
                    {{ field }}
                    {% if field.errors %}
                      <div class="alert alert-danger red"  style="font-size:13px;">
                          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                          {{ field.errors|striptags }}<br>
                      </div>
                    {% endif %}
                    {% if field.help_text %}
                      <p class="help">{{ field.help_text|safe }}</p>
                    {% endif %}
                </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
    <button type="submit" name="save" class="float">
      <div class="float-save success-color text-light">
          <i class="fas fa-save centralize"></i>
      </div>
    </button>
  </form>
{% endblock %}