{% extends "starter.html" %}
{% load i18n static %}

{% block title %}{% trans "Edit Education" %}{% endblock %}

{% block extrastyle %}
<link type="text/css" rel="stylesheet" href="{% static 'css/profile/edit.css' %}">
<link type="text/css" rel="stylesheet" href="{% static 'plugins/bootstrap-toggle/css/bootstrap-toggle.css' %}">
{% endblock %}

{% block extrajs %}
<script type="text/javascript" src="{% static 'js/profile/edit.js' %}"></script>
<script type="text/javascript" src="{% static 'plugins/bootstrap-toggle/js/bootstrap-toggle.js' %}"></script>
{% endblock %}

{% block content %}
    {% include "cv/tabs.html" %}

    <form role="form" method="post" action="{% url 'cv:Edit Education' %}">
        {% csrf_token %}
            <div class="card-body">
                <div class="row">
                    {{ education_form.management_form }}
                    {% for sub_form in education_form reversed %}
                        <div class="col-xl-6">
                            <div class="card card-outline card-success">
                                <div class="card-tools">
                                    {% if forloop.counter0 != 0 %}
                                        <button name="#id_education_set-{{ forloop.revcounter0 }}-DELETE" type="submit" class="btn btn-danger btn-close">
                                            <i class="centralize fas fa-times" style="font-size:25px"></i>
                                        </button>
                                    {% else %}
                                        <div style="padding-top:42px" ></div>
                                    {% endif %}
                                </div>
                                <div class="card-body">
                                    <div class="form-group">
                                        <div class="mb-3"></div>
                                        {{ sub_form }}
                                        <div class="row">
                                            <div class="col-xl-6">
                                                <button type="button" class="w-100 btn grey"> Dates
                                                </button>
                                            </div>
                                            <div class="col-xl-6">
                                                <button type="button" class="w-100 btn grey"> Duration
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <button type="submit" name="save" class="float">
            <div class="float-save success-color text-light">
                <i class="fas fa-save centralize"></i>
            </div>
        </button>
    </form>
    <form class="cv" role="form" method="get" action="{% url 'cv:Edit Education' %}">
        <button class="float" formmethod="get" type="submit" name="new" value="{{ extra }}">
            <div class="float-add purple-gradient text-light">
                <i class="fas fa-plus centralize"></i>
            </div>
        </button>
    </form>
    <div class="pb-5"></div>
    <div class="pb-3"></div>
{% endblock %}