{% extends "starter.html" %}
{% load i18n static %}

{% block title %}{% trans "Form of Profile" %}{% endblock %}

{% block extrastyle %}
  <link type="text/css" rel="stylesheet" href="{% static 'css/profile/profile.css' %}">
  <!-- Material Design Bootstrap -->
  <link type="text/css" rel="stylesheet" href="{% static 'plugins/mdb/css/mdb.min.css' %}">
{% endblock %}

{% block extrajs %}
  <!-- MDB core JavaScript -->
  <script type="text/javascript" src="{% static 'plugins/mdb/js/mdb.min.js' %}"></script>

  <script src="{% static 'plugins/moment/moment.min.js' %}"></script>
  <script> 
    $(document).ready(function(){
      var date = moment().subtract(23, 'years');
      var pattern = moment(date, "DD.MM.YYYY").format("YYYY-MM-DD");
      $("#born_date").val(pattern);

    });
  </script> 
{% endblock %}

{% block content %}

  <div class="card card-primary">
    <div class="card-header elegant-color-dark">
      <h1 class="card-title"><b>{% trans "Profile" %}</b></h1>
      <div class="card-tools">
        <button type="button" class="btn btn-primary btn-sm" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
          <i class="fas fa-minus"></i>
        </button>
      </div>
    </div>


    <div class="card-body">
      <form role="form" method="post">
        {% csrf_token %}
        <div class="row">

          <div class="col-xl-4">
            <div class="card blue-gradient">
              <div class="card-tools">
                <button type="button" class="btn btn-gradient-success btn-sm" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                  <i class="fas fa-minus"></i>
                </button>
              </div>
              <div class="card-body">
                <div class="form-group">
                  <label>{% trans "Name" %}</label>
                  <input autofocus type="text" class="form-control" maxlength="30" placeholder="{% trans "Enter your name" %}" required>
                </div>
                <div class="form-group">
                  <label>{% trans "Born Date" %}</label>
                  <input id="born_date" type="date" class="form-control" value="" required>
                </div>
                <div class="form-group">
                  <label>{% trans "Email Address" %}</label>
                  <input type="email" class="form-control" maxlength="255" placeholder="{% trans "Enter your email" %}" required>
                </div>
                <div class="form-group">
                  <label>{% trans "Phone" %}</label>
                  <input type="tel" class="form-control" maxlength="13" placeholder="{% trans "Enter your phone. Ex: (00) 00000-0000" %}" pattern="r'^\d{9,13}$'" required>
                </div>
                <div class="form-group">
                  <label>{% trans "Fluency" %}</label>
                  <input type="text" class="form-control" placeholder="{% trans "Select languages you can speak" %}">
                  {% comment %} TODO: add language level {% endcomment %}
                </div>
                <div class="form-group">
                  <label>{% trans "Links" %}</label>
                  <input type="text" class="form-control" placeholder="{% trans "Input your links" %}">
                </div>
              </div>
            </div>
          </div>

          <div class="col-xl-4">
            <div class="card blue-gradient">
              <div class="card-tools">
                <button type="button" class="btn btn-gradient-success btn-sm" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                  <i class="fas fa-minus"></i>
                </button>
              </div>
              <div class="card-body">
                <div class="form-group">
                  <label>{% trans "About" %}</label>
                  <textarea class="form-control" maxlength="2000" rows="19" placeholder="{% trans "Describe yourself" %}">{% lorem 250 w random %}</textarea>
                </div>
              </div>
            </div>
          </div>

          <div class="col-xl-4">
            <div class="card blue-gradient">
              <div class="card-tools">
                <button type="button" class="btn btn-gradient-success btn-sm" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                  <i class="fas fa-minus"></i>
                </button>
              </div>
              <div class="card-body">
                <div class="form-group">
                  <label>{% trans "Current Goals" %}</label>
                  <textarea class="form-control" maxlength="1000" rows="8" placeholder="{% trans "Describe your current goals" %}">{% lorem 130 w random %}</textarea>
                </div>
                <div class="form-group">
                  <label>{% trans "Professional Description" %}</label>
                  <textarea class="form-control" maxlength="1000" rows="8" placeholder="{% trans "Tell about your professional profile" %}">{% lorem 130 w random %}</textarea>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="card-footer">
      <button type="submit" class="btn btn-primary">Save</button>
    </div>
  </div>
  <div class="pb-4"></div>











  <div class="card card-primary">
    <div class="card-header elegant-color-dark">
      <h1 class="card-title"><b>{% trans "Academic" %}</b></h1>
      <div class="card-tools">
        <button type="button" class="btn btn-primary btn-sm" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
          <i class="fas fa-minus"></i>
        </button>
      </div>
    </div>

    <div class="card-body">
      <form role="form" method="post">
        {% csrf_token %}
        <div class="row">

          <div class="col-xl-4">
            <a href="#" class="small-box-footer">
              <div style="text-align:center;">
                <div class="small-box bg-info">
                  <div class="icon p-3">
                    <i class="fas fa-plus" style="position:static; text-align:center;"></i>
                  </div>
                </div>
              </div>
            </a>
          </div>
          
        </div>        
      </form>
    </div>
    <div class="card-footer">
      <button type="submit" class="btn btn-primary">Save</button>
    </div>
  </div>
  <div class="pb-4"></div>








  <div class="card card-primary">
    <div class="card-header elegant-color-dark">
      <h1 class="card-title"><b>{% trans "Professional Experience" %}</b></h1>
      <div class="card-tools">
        <button type="button" class="btn btn-primary btn-sm" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
          <i class="fas fa-minus"></i>
        </button>
      </div>
    </div>

    <div class="card-body">
      <form role="form" method="post">
        {% csrf_token %}
        <div class="row">

          <div class="col-xl-4">
            <a href="#" class="small-box-footer">
              <div style="text-align:center;">
                <div class="small-box bg-info">
                  <div class="icon p-3">
                    <i class="fas fa-plus" style="position:static; text-align:center;"></i>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
      </form>
    </div>
    <div class="card-footer">
      <button type="submit" class="btn btn-primary">Save</button>
    </div>
  </div>
  <div class="pb-4"></div>










  <div class="card card-primary">
    <div class="card-header elegant-color-dark">
      <h1 class="card-title"><b>{% trans "Certifications" %}</b></h1>
      <div class="card-tools">
        <button type="button" class="btn btn-primary btn-sm" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
          <i class="fas fa-minus"></i>
        </button>
      </div>
    </div>

    <div class="card-body">
      <form role="form" method="post">
        {% csrf_token %}
        <div class="row">

          <div class="col-xl-4">
            <a href="#" class="small-box-footer">
              <div style="text-align:center;">
                <div class="small-box bg-info">
                  <div class="icon p-3">
                    <i class="fas fa-plus" style="position:static; text-align:center;"></i>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
      </form>
    </div>
    <div class="card-footer">
    </div>
  </div>
  <div class="pb-4"></div>
  


<a class="btn-floating btn-lg btn-default"><i class="fas fa-bolt"></i></a>
<a class="btn-floating btn-primary"><i class="fas fa-leaf"></i></a>
<a class="btn-floating btn-sm btn-secondary"><i class="fas fa-star"></i></a>

<div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
  <a class="btn-floating btn-lg red">
    <i class="fas fa-pencil-alt"></i>
  </a>

  <ul class="list-unstyled">
    <li><a class="btn-floating red"><i class="fas fa-star"></i></a></li>
    <li><a class="btn-floating yellow darken-1"><i class="fas fa-user"></i></a></li>
    <li><a class="btn-floating green"><i class="fas fa-envelope"></i></a></li>
    <li><a class="btn-floating blue"><i class="fas fa-shopping-cart"></i></a></li>
  </ul>
</div>

{% endblock %}