{% extends "starter.html" %}
{% load i18n static %}

{% block title %}{% trans "Profile" %}{% endblock %}

{% block content %}

  <span style="color:gray"><em>{% trans "Last modification" %}: {{ profile.last|date:"jS F Y H:i" }} </em></span>
    {% comment %} TODO: Inserir icone de download {% endcomment %}
      
  <div class="card card-primary">
    <div class="card-header elegant-color-dark">
      <div style="text-align: center;">
        <div style="margin-right:100%;">
          {% if request.user.is_superuser %}
            <a href="{% url "CV:Edit Profile" %}" class="badge badge-success" title="Edit" style="color:white">{% trans "Edit" %}</a>
          {% endif %}
          <a href="" class="badge badge-success" title="Get Curriculum" style="color:white">{% trans "Get Curriculum" %}</a>
        </div>
        <img src="{% static "img/logo/skyrim.svg" %}" alt="{% lorem 1 w random %}" class="img-circle" style="width: 250px;">
      </div>
      <div class="mb-5"></div>
      <div>
        <h3 class="card-title">
        {% comment %} TODO: Adicionar idade atraves do banco {% endcomment %}
          <i style="padding: 0px 12px;" class="fas fa-male"></i><b><i>{{ profile.first_name }} {{ profile.last_name }}, {{ profile.age }}</i></b><br>
          <i style="padding: 0px 12px;" class="fas fa-building"></i><b><i>{% lorem 1 w random %}</i></b><br>
          <i style="padding: 0px 12px;" class="fas fa-home"></i><b><i>{% lorem 1 w random %}, {% lorem 1 w random %}</i></b>
        </h3>
      </div>
    </div>
    <div class="card-body">


      <div class="timeline">
        <div class="time-label">
          <span class="bg-green">23 Aug. 2019</span>
        </div>
        <div>
          <div class="timeline-item">
            <div class="timeline-body">
              {% lorem 100 w random %}
            </div>
          </div>
        </div>
        <div>
          <i class="fas fa-clock bg-gray"></i>
        </div>
      </div>

      <p class="card-text">
        {% lorem 50 w random %}
      </p>


    </div>
    <div class="card-footer">
      The footer of the card
    </div>
  </div>

{% endblock %}