{% extends "starter.html" %}
{% load static i18n %}

{% block title %}{% trans "Schedule" %}{% endblock %}

{% block extrastyle %}
  <!-- JQVMap -->
  <link type="text/css" rel="stylesheet" href="{% static 'plugins/jqvmap/jqvmap.css' %}">
{% endblock %}

{% block extrajs %}
  <!-- JQVMap -->
  <script src="{% static 'plugins/jqvmap/jquery.vmap.min.js' %}"></script>
  <script src="{% static 'plugins/jqvmap/maps/jquery.vmap.brazil.js' %}"></script>
  <script>
    jQuery('#vmap').vectorMap({
        map: 'brazil_br',
        backgroundColor: null,
        color: '#696969',
        hoverColor: '#c9dfaf',
        enableZoom: true,
        showTooltip: true,
        colors: {
          df: '#000099',
        },
    });
  </script>
         
{% endblock %}

{% block content %}

  <section class="col-lg-5 connectedSortable">
    <div id="vmap" style="height: 250px; width: 100%;"></div>
  </section>

{% endblock %}