body{
	background-color: #e0e0e0;
}

.centralize{
	position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.login-btn{
	color:green;
    box-shadow: 2px 2px 3px rgb(0, 0, 0);
}