{% load i18n static %}

<ul class="mfb-component--br mfb-zoomin" data-mfb-toggle="hover">
  <li class="mfb-component__wrap">
    <a class="mfb-component__button--main bg-dark">
      <i class=" fas fa-caret-up fa-sm centralize"></i>
    </a>
    <ul class="mfb-component__list">
      <li>
        <a data-mfb-label="Up" class="mfb-component__button--child bg-primary">
          <i class="fas fa-chevron-up fa-sm centralize"></i>
        </a>
      </li>
      <li>
        <a data-mfb-label="Add New" class="mfb-component__button--child bg-danger">
          <i class="fas fa-plus fa-sm centralize"></i>
        </a>
      </li>
      <li>
        <a data-mfb-label="Save" class="mfb-component__button--child bg-success">
          <i class="fas fa-save fa-sm centralize"></i>
        </a>
      </li>
    </ul>
  </li>
</ul>




{% comment %} <button onclick="topFunction()" type="button" id="backtop" class="float">
      <div class="info-color float-chevron text-light">
          <i class="fas fa-chevron-up centralize"></i>
      </div>
    </button> {% endcomment %}